.env
/.idea
/vendor
/.vscode
.env.backup
/public/hot
/node_modules
composer.lock
/storage/*.key
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
/public/storage
.phpunit.result.cache
/public/backend/img/blog
/public/backend/img/plan
/public/backend/img/reviews
/public/backend/img/topic
/public/backend/img/offers
/public/backend/img/course
docker-compose.override.yml
/public/backend/img/webinar
/public/backend/img/training
/public/frontend/images/avatar
/public/backend/img/testimonial
/public/backend/img/instructors
/public/backend/img/websitesetting
/public/frontend/images/payment_image
/public/backend/img/marketing_materials
