/*================================================
Default CSS
=================================================*/
:root {
  --main-color: #E53E30;
  --white-color: #ffffff;
  --black-color: #000000;
}

.switch-box {
  position: fixed;
  z-index: 1;
  right: 95px;
  bottom: 45px;
}

.switch-box .switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

.switch-box .switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.switch-box .slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: var(--main-color);
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.switch-box .slider:before {
  position: absolute;
  content: "";
  height: 30px;
  width: 30px;
  left: 2.5px;
  bottom: 4px;
  top: 0;
  bottom: 0;
  margin: auto 0;
  -webkit-transition: 0.4s;
  transition: 0.4s;
  -webkit-box-shadow: 0 0px 15px #2020203d;
          box-shadow: 0 0px 15px #2020203d;
  background: white url("../../../../../i.ibb.co/FxzBYR9/night.png");
  background-repeat: no-repeat;
  background-position: center;
}

.switch-box input:checked + .slider {
  background-color: var(--main-color);
}

.switch-box input:focus + .slider {
  -webkit-box-shadow: 0 0 1px --main-color;
          box-shadow: 0 0 1px --main-color;
}

.switch-box input:checked + .slider:before {
  -webkit-transform: translateX(24px);
  transform: translateX(24px);
  background: white url("../../../../../i.ibb.co/7JfqXxB/sunny.png");
  background-repeat: no-repeat;
  background-position: center;
}

.switch-box .slider.round {
  border-radius: 50px;
}

.switch-box .slider.round:before {
  border-radius: 50%;
}

.theme-light .black-logo {
  display: block;
}

.theme-light .white-logo {
  display: none;
}

.theme-dark .black-logo {
  display: none;
}

.theme-dark .white-logo {
  display: block;
}

.theme-dark body {
  background-color: var(--black-color);
  color: #f1f1f1;
}

.theme-dark p {
  color: #f1f1f1;
}

.theme-dark p a {
  color: #f1f1f1 !important;
}

.theme-dark p a:hover {
  color: var(--main-color) !important;
}

.theme-dark .h1, .theme-dark .h2, .theme-dark .h3, .theme-dark .h4, .theme-dark .h5, .theme-dark .h6, .theme-dark h1, .theme-dark h2, .theme-dark h3, .theme-dark h4, .theme-dark h5, .theme-dark h6 {
  color: var(--white-color) !important;
}

.theme-dark .h1 a, .theme-dark .h2 a, .theme-dark .h3 a, .theme-dark .h4 a, .theme-dark .h5 a, .theme-dark .h6 a, .theme-dark h1 a, .theme-dark h2 a, .theme-dark h3 a, .theme-dark h4 a, .theme-dark h5 a, .theme-dark h6 a {
  color: var(--white-color) !important;
}

.theme-dark .h1 a:hover, .theme-dark .h2 a:hover, .theme-dark .h3 a:hover, .theme-dark .h4 a:hover, .theme-dark .h5 a:hover, .theme-dark .h6 a:hover, .theme-dark h1 a:hover, .theme-dark h2 a:hover, .theme-dark h3 a:hover, .theme-dark h4 a:hover, .theme-dark h5 a:hover, .theme-dark h6 a:hover {
  color: var(--main-color) !important;
}

.theme-dark .main-navbar .navbar {
  background-color: #181B31;
}

.theme-dark .main-navbar .navbar .navbar-nav .nav-item a {
  color: var(--white-color);
}

.theme-dark .main-navbar .navbar .navbar-nav .nav-item a:hover, .theme-dark .main-navbar .navbar .navbar-nav .nav-item a:focus, .theme-dark .main-navbar .navbar .navbar-nav .nav-item a.active {
  color: var(--main-color);
}

.theme-dark .main-navbar .navbar .navbar-nav .nav-item:hover a, .theme-dark .main-navbar .navbar .navbar-nav .nav-item.active a {
  color: var(--main-color);
}

.theme-dark .main-navbar .navbar .navbar-nav .nav-item .dropdown-menu {
  background-color: #0e0e0e;
  border: 1px solid var(--black-color);
}

.theme-dark .main-navbar .navbar .navbar-nav .nav-item .dropdown-menu li a {
  color: var(--white-color);
}

.theme-dark .main-navbar .navbar .navbar-nav .nav-item .dropdown-menu li a:hover, .theme-dark .main-navbar .navbar .navbar-nav .nav-item .dropdown-menu li a:focus, .theme-dark .main-navbar .navbar .navbar-nav .nav-item .dropdown-menu li a.active {
  color: var(--main-color);
}

.theme-dark .main-navbar .navbar .navbar-nav .nav-item .dropdown-menu li .dropdown-menu li a {
  color: var(--white-color);
}

.theme-dark .main-navbar .navbar .navbar-nav .nav-item .dropdown-menu li .dropdown-menu li a:hover, .theme-dark .main-navbar .navbar .navbar-nav .nav-item .dropdown-menu li .dropdown-menu li a:focus, .theme-dark .main-navbar .navbar .navbar-nav .nav-item .dropdown-menu li .dropdown-menu li a.active {
  color: var(--main-color);
}

.theme-dark .main-navbar .navbar .navbar-nav .nav-item .dropdown-menu li .dropdown-menu li .dropdown-menu li a {
  color: var(--white-color);
}

.theme-dark .main-navbar .navbar .navbar-nav .nav-item .dropdown-menu li .dropdown-menu li .dropdown-menu li a:hover, .theme-dark .main-navbar .navbar .navbar-nav .nav-item .dropdown-menu li .dropdown-menu li .dropdown-menu li a:focus, .theme-dark .main-navbar .navbar .navbar-nav .nav-item .dropdown-menu li .dropdown-menu li .dropdown-menu li a.active {
  color: var(--main-color);
}

.theme-dark .main-navbar .navbar .navbar-nav .nav-item .dropdown-menu li .dropdown-menu li .dropdown-menu li .dropdown-menu li a {
  color: var(--white-color);
}

.theme-dark .main-navbar .navbar .navbar-nav .nav-item .dropdown-menu li .dropdown-menu li .dropdown-menu li .dropdown-menu li a:hover, .theme-dark .main-navbar .navbar .navbar-nav .nav-item .dropdown-menu li .dropdown-menu li .dropdown-menu li .dropdown-menu li a:focus, .theme-dark .main-navbar .navbar .navbar-nav .nav-item .dropdown-menu li .dropdown-menu li .dropdown-menu li .dropdown-menu li a.active {
  color: var(--main-color);
}

.theme-dark .main-navbar .navbar .navbar-nav .nav-item .dropdown-menu li .dropdown-menu li .dropdown-menu li .dropdown-menu li .dropdown-menu li a {
  color: var(--white-color);
}

.theme-dark .main-navbar .navbar .navbar-nav .nav-item .dropdown-menu li .dropdown-menu li .dropdown-menu li .dropdown-menu li .dropdown-menu li a:hover, .theme-dark .main-navbar .navbar .navbar-nav .nav-item .dropdown-menu li .dropdown-menu li .dropdown-menu li .dropdown-menu li .dropdown-menu li a:focus, .theme-dark .main-navbar .navbar .navbar-nav .nav-item .dropdown-menu li .dropdown-menu li .dropdown-menu li .dropdown-menu li .dropdown-menu li a.active {
  color: var(--main-color);
}

.theme-dark .main-navbar .navbar .navbar-nav .nav-item .dropdown-menu li .dropdown-menu li .dropdown-menu li .dropdown-menu li .dropdown-menu li .dropdown-menu li a {
  color: var(--white-color);
}

.theme-dark .main-navbar .navbar .navbar-nav .nav-item .dropdown-menu li .dropdown-menu li .dropdown-menu li .dropdown-menu li .dropdown-menu li .dropdown-menu li a:hover, .theme-dark .main-navbar .navbar .navbar-nav .nav-item .dropdown-menu li .dropdown-menu li .dropdown-menu li .dropdown-menu li .dropdown-menu li .dropdown-menu li a:focus, .theme-dark .main-navbar .navbar .navbar-nav .nav-item .dropdown-menu li .dropdown-menu li .dropdown-menu li .dropdown-menu li .dropdown-menu li .dropdown-menu li a.active {
  color: var(--main-color);
}

.theme-dark .main-navbar .navbar .navbar-nav .nav-item .dropdown-menu li .dropdown-menu li .dropdown-menu li .dropdown-menu li .dropdown-menu li .dropdown-menu li .dropdown-menu li a {
  color: var(--white-color);
}

.theme-dark .main-navbar .navbar .navbar-nav .nav-item .dropdown-menu li .dropdown-menu li .dropdown-menu li .dropdown-menu li .dropdown-menu li .dropdown-menu li .dropdown-menu li a:hover, .theme-dark .main-navbar .navbar .navbar-nav .nav-item .dropdown-menu li .dropdown-menu li .dropdown-menu li .dropdown-menu li .dropdown-menu li .dropdown-menu li .dropdown-menu li a:focus, .theme-dark .main-navbar .navbar .navbar-nav .nav-item .dropdown-menu li .dropdown-menu li .dropdown-menu li .dropdown-menu li .dropdown-menu li .dropdown-menu li .dropdown-menu li a.active {
  color: var(--main-color);
}

.theme-dark .main-navbar .navbar .navbar-nav .nav-item .dropdown-menu li .dropdown-menu li .dropdown-menu li .dropdown-menu li .dropdown-menu li .dropdown-menu li.active a {
  color: var(--main-color);
}

.theme-dark .main-navbar .navbar .navbar-nav .nav-item .dropdown-menu li .dropdown-menu li .dropdown-menu li .dropdown-menu li .dropdown-menu li.active a {
  color: var(--main-color);
}

.theme-dark .main-navbar .navbar .navbar-nav .nav-item .dropdown-menu li .dropdown-menu li .dropdown-menu li .dropdown-menu li.active a {
  color: var(--main-color);
}

.theme-dark .main-navbar .navbar .navbar-nav .nav-item .dropdown-menu li .dropdown-menu li .dropdown-menu li.active a {
  color: var(--main-color);
}

.theme-dark .main-navbar .navbar .navbar-nav .nav-item .dropdown-menu li .dropdown-menu li.active a {
  color: var(--main-color);
}

.theme-dark .main-navbar .navbar .navbar-nav .nav-item .dropdown-menu li.active a {
  color: var(--main-color);
}

.theme-dark .main-navbar .navbar .others-options .option-item .search-box i {
  color: var(--white-color);
}

.theme-dark .main-navbar .navbar .others-options .option-item .search-box i:hover {
  color: var(--main-color);
}

.theme-dark .navbar-area.is-sticky {
  background-color: #181B31 !important;
}

.theme-dark .navbar-style-two .main-navbar .navbar {
  background-color: transparent;
}

.theme-dark .navbar-style-two .main-navbar .navbar .navbar-nav .nav-item a {
  color: var(--white-color);
}

.theme-dark .navbar-style-two .main-navbar .navbar .navbar-nav .nav-item a::after {
  background-color: var(--main-color);
}

.theme-dark .navbar-style-two .main-navbar .navbar .navbar-nav .nav-item a:hover, .theme-dark .navbar-style-two .main-navbar .navbar .navbar-nav .nav-item a:focus, .theme-dark .navbar-style-two .main-navbar .navbar .navbar-nav .nav-item a.active {
  color: var(--main-color);
}

.theme-dark .navbar-style-two .main-navbar .navbar .navbar-nav .nav-item:hover a, .theme-dark .navbar-style-two .main-navbar .navbar .navbar-nav .nav-item.active a {
  color: var(--main-color);
}

.theme-dark .navbar-style-two .main-navbar .navbar .navbar-nav .nav-item .dropdown-menu li a {
  color: var(--white-color);
}

.theme-dark .navbar-style-two .main-navbar .navbar .navbar-nav .nav-item .dropdown-menu li a::before {
  background-color: var(--main-color);
}

.theme-dark .navbar-style-two .main-navbar .navbar .navbar-nav .nav-item .dropdown-menu li a:hover, .theme-dark .navbar-style-two .main-navbar .navbar .navbar-nav .nav-item .dropdown-menu li a:focus, .theme-dark .navbar-style-two .main-navbar .navbar .navbar-nav .nav-item .dropdown-menu li a.active {
  color: var(--main-color);
}

.theme-dark .navbar-style-two.is-sticky .main-navbar .navbar .navbar-nav .nav-item a {
  color: var(--white-color);
}

.theme-dark .navbar-style-two.is-sticky .main-navbar .navbar .navbar-nav .nav-item a::after {
  background-color: var(--main-color);
}

.theme-dark .navbar-style-two.is-sticky .main-navbar .navbar .navbar-nav .nav-item a:hover, .theme-dark .navbar-style-two.is-sticky .main-navbar .navbar .navbar-nav .nav-item a:focus, .theme-dark .navbar-style-two.is-sticky .main-navbar .navbar .navbar-nav .nav-item a.active {
  color: var(--main-color);
}

.theme-dark .navbar-style-two.is-sticky .main-navbar .navbar .navbar-nav .nav-item:hover a, .theme-dark .navbar-style-two.is-sticky .main-navbar .navbar .navbar-nav .nav-item.active a {
  color: var(--main-color);
}

.theme-dark .navbar-style-two.is-sticky .main-navbar .navbar .navbar-nav .nav-item .dropdown-menu li a {
  color: var(--white-color);
}

.theme-dark .navbar-style-two.is-sticky .main-navbar .navbar .navbar-nav .nav-item .dropdown-menu li a::before {
  background-color: var(--main-color);
}

.theme-dark .navbar-style-two.is-sticky .main-navbar .navbar .navbar-nav .nav-item .dropdown-menu li a:hover, .theme-dark .navbar-style-two.is-sticky .main-navbar .navbar .navbar-nav .nav-item .dropdown-menu li a:focus, .theme-dark .navbar-style-two.is-sticky .main-navbar .navbar .navbar-nav .nav-item .dropdown-menu li a.active {
  color: var(--main-color);
  padding-left: 18px;
}

.theme-dark .navbar-style-two.is-sticky .main-navbar .navbar .navbar-nav .nav-item .dropdown-menu li a:hover::before, .theme-dark .navbar-style-two.is-sticky .main-navbar .navbar .navbar-nav .nav-item .dropdown-menu li a:focus::before, .theme-dark .navbar-style-two.is-sticky .main-navbar .navbar .navbar-nav .nav-item .dropdown-menu li a.active::before {
  opacity: 1;
  visibility: visible;
}

.theme-dark .navbar-style-two.is-sticky .main-navbar .navbar .navbar-nav .nav-item .dropdown-menu li a:hover::after, .theme-dark .navbar-style-two.is-sticky .main-navbar .navbar .navbar-nav .nav-item .dropdown-menu li a:focus::after, .theme-dark .navbar-style-two.is-sticky .main-navbar .navbar .navbar-nav .nav-item .dropdown-menu li a.active::after {
  display: none;
}

.theme-dark .navbar-style-two.is-sticky .main-navbar .navbar .others-options .option-item .search-box i {
  color: var(--white-color);
}

.theme-dark .navbar-style-two.is-sticky .main-navbar .navbar .others-options .option-item .search-box i:hover {
  color: var(--main-color);
}

.theme-dark .search-overlay .search-overlay-form form .input-search {
  color: var(--white-color);
  background-color: #0e0e0e;
  border: 1px solid #0e0e0e;
}

.theme-dark .search-overlay .search-overlay-form form .input-search::-webkit-input-placeholder {
  color: var(--white-color);
}

.theme-dark .search-overlay .search-overlay-form form .input-search:-ms-input-placeholder {
  color: var(--white-color);
}

.theme-dark .search-overlay .search-overlay-form form .input-search::-ms-input-placeholder {
  color: var(--white-color);
}

.theme-dark .search-overlay .search-overlay-form form .input-search::placeholder {
  color: var(--white-color);
}

.theme-dark .search-overlay .search-overlay-form form .input-search:focus::-webkit-input-placeholder {
  color: transparent;
}

.theme-dark .search-overlay .search-overlay-form form .input-search:focus:-ms-input-placeholder {
  color: transparent;
}

.theme-dark .search-overlay .search-overlay-form form .input-search:focus::-ms-input-placeholder {
  color: transparent;
}

.theme-dark .search-overlay .search-overlay-form form .input-search:focus::placeholder {
  color: transparent;
}

.theme-dark .main-banner-area::after {
  background-color: #181B31;
}

.theme-dark .main-banner-item .main-banner-item-content {
  background-color: #0e0e0e;
}

.theme-dark .single-process-card {
  border: 1px solid #0e0e0e;
  background-color: #0e0e0e;
}

.theme-dark .single-process-card:hover {
  border: 1px solid var(--main-color);
}

.theme-dark .about-area {
  background-color: #0e0e0e;
}

.theme-dark .about-area::after {
  background-color: var(--black-color);
}

.theme-dark .about-content {
  background-color: #181B31;
}

.theme-dark .about-content .about-btn .default-btn {
  color: var(--white-color) !important;
}

.theme-dark .single-services-card {
  border: 1px solid #0e0e0e;
  background-color: #0e0e0e;
}

.theme-dark .single-services-card:hover {
  border: 1px solid var(--main-color);
}

.theme-dark .case-studies-area::before {
  background-color: #0e0e0e;
}

.theme-dark .case-studies-area::after {
  background-color: #0e0e0e;
}

.theme-dark .single-case-studies-card .case-studies-content {
  background-color: #0e0e0e;
}

.theme-dark .single-case-studies-card .case-studies-content span {
  color: var(--white-color);
}

.theme-dark .single-case-studies-card:hover .case-studies-content {
  background-color: var(--main-color);
}

.theme-dark .choose-us-box .single-choose-us-card {
  border: 1px solid #0e0e0e;
  background-color: #0e0e0e;
}

.theme-dark .choose-us-box .single-choose-us-card:hover {
  border: 1px solid var(--main-color);
}

.theme-dark .choose-us-shape-1 {
  opacity: 10%;
}

.theme-dark .choose-us-shape-2 {
  opacity: 10%;
}

.theme-dark .choose-us-inner-box .choose-us-list li {
  color: var(--white-color);
}

.theme-dark .single-testimonials-card {
  background-color: #0e0e0e;
}

.theme-dark .partner-area::before {
  background-color: #0e0e0e;
}

.theme-dark .single-team-card .team-content {
  background-color: #0e0e0e;
}

.theme-dark .single-team-card .team-content span {
  color: var(--white-color);
}

.theme-dark .single-team-card .team-content .social-btn span {
  border: 1px solid var(--white-color);
}

.theme-dark .single-team-card:hover .team-content {
  background-color: var(--main-color);
}

.theme-dark .talk-form {
  background-color: #0e0e0e;
}

.theme-dark .talk-form form .form-group .form-control {
  color: var(--white-color);
  background-color: var(--black-color);
  border: 1px solid var(--black-color);
}

.theme-dark .talk-form form .form-group .form-control::-webkit-input-placeholder {
  color: var(--white-color);
}

.theme-dark .talk-form form .form-group .form-control:-ms-input-placeholder {
  color: var(--white-color);
}

.theme-dark .talk-form form .form-group .form-control::-ms-input-placeholder {
  color: var(--white-color);
}

.theme-dark .talk-form form .form-group .form-control::placeholder {
  color: var(--white-color);
}

.theme-dark .talk-form form .form-group .form-control:focus {
  border-color: var(--main-color);
}

.theme-dark .talk-form form .form-group .form-control:focus::-webkit-input-placeholder {
  color: transparent;
}

.theme-dark .talk-form form .form-group .form-control:focus:-ms-input-placeholder {
  color: transparent;
}

.theme-dark .talk-form form .form-group .form-control:focus::-ms-input-placeholder {
  color: transparent;
}

.theme-dark .talk-form form .form-group .form-control:focus::placeholder {
  color: transparent;
}

.theme-dark .blog-area::before {
  background-color: #0e0e0e;
}

.theme-dark .single-footer-widget .widget-newsletter .newsletter-form .input-newsletter {
  color: var(--white-color);
  background-color: var(--black-color);
  border: 1px solid var(--black-color);
}

.theme-dark .single-footer-widget .widget-newsletter .newsletter-form .input-newsletter::-webkit-input-placeholder {
  color: var(--white-color);
}

.theme-dark .single-footer-widget .widget-newsletter .newsletter-form .input-newsletter:-ms-input-placeholder {
  color: var(--white-color);
}

.theme-dark .single-footer-widget .widget-newsletter .newsletter-form .input-newsletter::-ms-input-placeholder {
  color: var(--white-color);
}

.theme-dark .single-footer-widget .widget-newsletter .newsletter-form .input-newsletter::placeholder {
  color: var(--white-color);
}

.theme-dark .single-footer-widget .widget-newsletter .newsletter-form .input-newsletter:focus {
  border-color: var(--main-color);
}

.theme-dark .single-footer-widget .widget-newsletter .newsletter-form .input-newsletter:focus::-webkit-input-placeholder {
  color: transparent;
}

.theme-dark .single-footer-widget .widget-newsletter .newsletter-form .input-newsletter:focus:-ms-input-placeholder {
  color: transparent;
}

.theme-dark .single-footer-widget .widget-newsletter .newsletter-form .input-newsletter:focus::-ms-input-placeholder {
  color: transparent;
}

.theme-dark .single-footer-widget .widget-newsletter .newsletter-form .input-newsletter:focus::placeholder {
  color: transparent;
}

.theme-dark .portfolio-area {
  border-top: 1px solid #0e0e0e;
  border-bottom: 1px solid #0e0e0e;
}

.theme-dark .single-pricing-table {
  border: 1px solid #0e0e0e;
}

.theme-dark .single-pricing-table .pricing-header span {
  color: var(--white-color);
}

.theme-dark .single-pricing-table .price span {
  color: var(--white-color);
}

.theme-dark .single-pricing-table .features-list li {
  color: var(--white-color);
}

.theme-dark .single-pricing-table:hover {
  background-color: var(--main-color);
  border: 1px solid var(--main-color);
}

.theme-dark .talk-form-wrap form .form-group .form-control {
  color: var(--white-color);
  background-color: var(--black-color);
  border: 1px solid var(--black-color);
}

.theme-dark .talk-form-wrap form .form-group .form-control::-webkit-input-placeholder {
  color: var(--white-color);
}

.theme-dark .talk-form-wrap form .form-group .form-control:-ms-input-placeholder {
  color: var(--white-color);
}

.theme-dark .talk-form-wrap form .form-group .form-control::-ms-input-placeholder {
  color: var(--white-color);
}

.theme-dark .talk-form-wrap form .form-group .form-control::placeholder {
  color: var(--white-color);
}

.theme-dark .talk-form-wrap form .form-group .form-control:focus {
  border-color: var(--main-color);
}

.theme-dark .talk-form-wrap form .form-group .form-control:focus::-webkit-input-placeholder {
  color: transparent;
}

.theme-dark .talk-form-wrap form .form-group .form-control:focus:-ms-input-placeholder {
  color: transparent;
}

.theme-dark .talk-form-wrap form .form-group .form-control:focus::-ms-input-placeholder {
  color: transparent;
}

.theme-dark .talk-form-wrap form .form-group .form-control:focus::placeholder {
  color: transparent;
}

.theme-dark .single-testimonials-card.with-border {
  border: 1px solid #0e0e0e;
}

.theme-dark .single-testimonials-card.with-border:hover {
  border: 1px solid var(--main-color);
}

.theme-dark .main-banner-area-with-shape {
  position: relative;
  z-index: 1;
}

.theme-dark .main-banner-area-with-shape::before {
  position: absolute;
  content: "";
  height: 100%;
  width: 100%;
  background-color: var(--black-color);
  left: 0;
  right: 0;
  top: 0;
  z-index: -1;
  opacity: .90;
}

.theme-dark .main-banner-video-content .banner-btn .video-btn {
  color: var(--white-color);
}

.theme-dark .about-content-wrap.with-white-text p {
  color: var(--white-color);
}

.theme-dark .about-content-wrap.with-white-text .skill-bar .progress-title {
  color: var(--white-color);
}

.theme-dark .about-content-wrap.with-white-text .skill-bar .progress-number-wrapper {
  color: var(--white-color);
}

.theme-dark .about-content-wrap.with-white-text .skill-bar .progress-number-mark {
  color: var(--white-color);
}

.theme-dark .about-content-wrap.with-white-text .skill-bar .progress-content-outter {
  background-color: var(--white-color);
}

.theme-dark .fun-fact-inner-box {
  background-color: #0e0e0e;
}

.theme-dark .fun-fact-inner-box .single-funfact-card p {
  color: var(--white-color);
}

.theme-dark .faq-accordion .accordion-item .accordion-button {
  color: var(--white-color);
}

.theme-dark .faq-accordion .accordion-item .accordion-button:not(.collapsed) {
  color: var(--main-color);
}

.theme-dark .faq-accordion .accordion-item .accordion-body p {
  color: var(--white-color);
}

.theme-dark .faq-shape-1 {
  opacity: 50%;
}

.theme-dark .portfolio-area.with-white-color {
  background-color: var(--black-color);
  border-top: none;
}

.theme-dark .single-pricing-table.with-hover-color {
  background-color: #0e0e0e;
}

.theme-dark .single-testimonials-box .info span {
  color: var(--white-color);
}

.theme-dark .footer-area.bg-F4F7FC {
  background-color: #0e0e0e;
}

.theme-dark .footer-area.bg-F4F7FC .single-footer-widget p {
  color: var(--white-color);
}

.theme-dark .footer-area.bg-F4F7FC .single-footer-widget .footer-information li {
  color: var(--white-color);
}

.theme-dark .footer-area.bg-F4F7FC .single-footer-widget .footer-information li a {
  color: var(--white-color);
}

.theme-dark .footer-area.bg-F4F7FC .single-footer-widget .footer-information li a:hover {
  color: var(--main-color);
}

.theme-dark .footer-area.bg-F4F7FC .single-footer-widget h3 {
  color: var(--white-color);
}

.theme-dark .footer-area.bg-F4F7FC .single-footer-widget .quick-links li a {
  color: var(--white-color);
}

.theme-dark .footer-area.bg-F4F7FC .single-footer-widget .quick-links li a:hover {
  color: var(--main-color);
  letter-spacing: 1px;
}

.theme-dark .footer-area.bg-F4F7FC .single-footer-widget .widget-newsletter span {
  color: var(--white-color);
}

.theme-dark .footer-area.bg-F4F7FC .single-footer-widget .widget-newsletter .widget-social li span {
  font-size: 18px;
  color: var(--main-color);
}

.theme-dark .copyright-area.bg-FFFFFF {
  background-color: var(--black-color);
}

.theme-dark .copyright-area.bg-FFFFFF .copyright-area-content p {
  color: var(--white-color);
}

.theme-dark .single-blog-card .blog-content h3 a {
  color: var(--white-color) !important;
}

.theme-dark .page-banner-area {
  position: relative;
  z-index: 1;
}

.theme-dark .page-banner-area::before {
  position: absolute;
  content: "";
  height: 100%;
  width: 100%;
  background-color: var(--black-color);
  left: 0;
  right: 0;
  top: 0;
  z-index: -1;
  opacity: .90;
}

.theme-dark .project-story-content {
  background-color: #0e0e0e;
}

.theme-dark .services-overview-content {
  background-color: #0e0e0e;
}

.theme-dark .services-overview-content .overview-list li {
  color: var(--white-color);
}

.theme-dark .portfolio-details-information {
  background-color: #0e0e0e;
}

.theme-dark .portfolio-details-information ul li {
  border-bottom: 1px solid #181B31;
  color: var(--white-color);
}

.theme-dark .portfolio-details-information ul li span {
  color: var(--white-color);
}

.theme-dark .portfolio-details-information ul li a {
  color: var(--white-color);
}

.theme-dark .portfolio-details-information ul li a:last-child {
  margin-bottom: 0;
}

.theme-dark .portfolio-details-information ul li a:hover {
  color: var(--main-color);
}

.theme-dark .portfolio-details-information ul li:last-child {
  border-bottom: none;
}

.theme-dark .login-form {
  background: #0a0a11;
  border: 1px solid #0a0a11;
}

.theme-dark .login-form form .form-group label {
  color: var(--white-color);
}

.theme-dark .login-form form .form-group .form-control {
  color: var(--white-color);
  background-color: var(--black-color);
  border: 1px solid var(--black-color);
}

.theme-dark .login-form form .form-group .form-control::-webkit-input-placeholder {
  color: var(--white-color);
}

.theme-dark .login-form form .form-group .form-control:-ms-input-placeholder {
  color: var(--white-color);
}

.theme-dark .login-form form .form-group .form-control::-ms-input-placeholder {
  color: var(--white-color);
}

.theme-dark .login-form form .form-group .form-control::placeholder {
  color: var(--white-color);
}

.theme-dark .login-form form .form-group .form-control:focus::-webkit-input-placeholder {
  color: transparent;
}

.theme-dark .login-form form .form-group .form-control:focus:-ms-input-placeholder {
  color: transparent;
}

.theme-dark .login-form form .form-group .form-control:focus::-ms-input-placeholder {
  color: transparent;
}

.theme-dark .login-form form .form-group .form-control:focus::placeholder {
  color: transparent;
}

.theme-dark .login-form form .remember-me-wrap [type="checkbox"]:checked + label, .theme-dark .login-form form .remember-me-wrap [type="checkbox"]:not(:checked) + label {
  color: var(--white-color);
}

.theme-dark .login-form form .lost-your-password-wrap a {
  color: var(--white-color);
}

.theme-dark .login-form form .account-text p {
  color: var(--white-color);
}

.theme-dark .register-form {
  background: #0a0a11;
  border: 1px solid #0a0a11;
}

.theme-dark .register-form form .form-group label {
  color: var(--white-color);
}

.theme-dark .register-form form .form-group .form-control {
  color: var(--white-color);
  background-color: var(--black-color);
  border: 1px solid var(--black-color);
}

.theme-dark .register-form form .form-group .form-control::-webkit-input-placeholder {
  color: var(--white-color);
}

.theme-dark .register-form form .form-group .form-control:-ms-input-placeholder {
  color: var(--white-color);
}

.theme-dark .register-form form .form-group .form-control::-ms-input-placeholder {
  color: var(--white-color);
}

.theme-dark .register-form form .form-group .form-control::placeholder {
  color: var(--white-color);
}

.theme-dark .register-form form .form-group .form-control:focus::-webkit-input-placeholder {
  color: transparent;
}

.theme-dark .register-form form .form-group .form-control:focus:-ms-input-placeholder {
  color: transparent;
}

.theme-dark .register-form form .form-group .form-control:focus::-ms-input-placeholder {
  color: transparent;
}

.theme-dark .register-form form .form-group .form-control:focus::placeholder {
  color: transparent;
}

.theme-dark .register-form form .remember-me-wrap [type="checkbox"]:checked + label, .theme-dark .register-form form .remember-me-wrap [type="checkbox"]:not(:checked) + label {
  color: var(--white-color);
}

.theme-dark .register-form form .account-text p {
  color: var(--white-color);
}

.theme-dark .forgot-password-form {
  background: #0a0a11;
  border: 1px solid #0a0a11;
}

.theme-dark .forgot-password-form form .form-group .form-control {
  color: var(--white-color);
  background-color: var(--black-color);
  border: 1px solid var(--black-color);
}

.theme-dark .forgot-password-form form .form-group .form-control::-webkit-input-placeholder {
  color: var(--white-color);
}

.theme-dark .forgot-password-form form .form-group .form-control:-ms-input-placeholder {
  color: var(--white-color);
}

.theme-dark .forgot-password-form form .form-group .form-control::-ms-input-placeholder {
  color: var(--white-color);
}

.theme-dark .forgot-password-form form .form-group .form-control::placeholder {
  color: var(--white-color);
}

.theme-dark .forgot-password-form form .form-group .form-control:focus::-webkit-input-placeholder {
  color: transparent;
}

.theme-dark .forgot-password-form form .form-group .form-control:focus:-ms-input-placeholder {
  color: transparent;
}

.theme-dark .forgot-password-form form .form-group .form-control:focus::-ms-input-placeholder {
  color: transparent;
}

.theme-dark .forgot-password-form form .form-group .form-control:focus::placeholder {
  color: transparent;
}

.theme-dark .terms-of-service-content .blockquote, .theme-dark .terms-of-service-content blockquote {
  background-color: #0a0a11;
}

.theme-dark .terms-of-service-content ol li, .theme-dark .terms-of-service-content ul li {
  color: var(--white-color);
}

.theme-dark .privacy-policy-content .blockquote, .theme-dark .privacy-policy-content blockquote {
  background-color: #0a0a11;
}

.theme-dark .privacy-policy-content ol li, .theme-dark .privacy-policy-content ul li {
  color: var(--white-color);
}

.theme-dark .coming-soon-content {
  background-color: #0e0e0e;
}

.theme-dark .coming-soon-content form .form-group .form-control {
  color: var(--white-color);
  background-color: var(--black-color);
  border: 1px solid var(--black-color);
}

.theme-dark .coming-soon-content form .form-group .form-control::-webkit-input-placeholder {
  color: var(--white-color);
}

.theme-dark .coming-soon-content form .form-group .form-control:-ms-input-placeholder {
  color: var(--white-color);
}

.theme-dark .coming-soon-content form .form-group .form-control::-ms-input-placeholder {
  color: var(--white-color);
}

.theme-dark .coming-soon-content form .form-group .form-control::placeholder {
  color: var(--white-color);
}

.theme-dark .coming-soon-content form .form-group .form-control:focus::-webkit-input-placeholder {
  color: transparent;
}

.theme-dark .coming-soon-content form .form-group .form-control:focus:-ms-input-placeholder {
  color: transparent;
}

.theme-dark .coming-soon-content form .form-group .form-control:focus::-ms-input-placeholder {
  color: transparent;
}

.theme-dark .coming-soon-content form .form-group .form-control:focus::placeholder {
  color: transparent;
}

.theme-dark .blog-details-desc .article-content span {
  color: var(--white-color);
}

.theme-dark .blog-details-desc .article-content span a {
  color: var(--white-color);
}

.theme-dark .blog-details-desc .article-content span a:hover {
  color: var(--main-color);
}

.theme-dark .blog-details-desc .article-content .blog-desc-quote {
  background: #0e0e0e;
}

.theme-dark .blog-details-desc .article-content .blog-desc-quote p {
  color: var(--white-color);
}

.theme-dark .blog-details-desc .article-content .blog-desc-quote b {
  color: var(--white-color);
}

.theme-dark .blog-details-desc .article-tags ul li span {
  color: var(--white-color);
}

.theme-dark .blog-details-desc .article-tags ul li a {
  color: var(--white-color);
}

.theme-dark .blog-details-desc .article-share ul li span {
  color: var(--white-color);
}

.theme-dark .blog-details-desc .article-share ul li a i {
  color: var(--white-color);
}

.theme-dark .blog-details-desc .article-share ul li a i:hover {
  color: var(--main-color);
}

.theme-dark .blog-details-desc .article-comments .comments-list span {
  color: var(--white-color);
}

.theme-dark .blog-details-desc .article-leave-comment form .form-group .form-control {
  color: var(--white-color);
  background-color: transparent;
  border: 1px solid #0e0e0e;
}

.theme-dark .blog-details-desc .article-leave-comment form .form-group .form-control::-webkit-input-placeholder {
  color: var(--white-color);
}

.theme-dark .blog-details-desc .article-leave-comment form .form-group .form-control:-ms-input-placeholder {
  color: var(--white-color);
}

.theme-dark .blog-details-desc .article-leave-comment form .form-group .form-control::-ms-input-placeholder {
  color: var(--white-color);
}

.theme-dark .blog-details-desc .article-leave-comment form .form-group .form-control::placeholder {
  color: var(--white-color);
}

.theme-dark .blog-details-desc .article-leave-comment form .form-group .form-control:focus {
  border-color: var(--main-color);
}

.theme-dark .blog-details-desc .article-leave-comment form .form-group .form-control:focus::-webkit-input-placeholder {
  color: transparent;
}

.theme-dark .blog-details-desc .article-leave-comment form .form-group .form-control:focus:-ms-input-placeholder {
  color: transparent;
}

.theme-dark .blog-details-desc .article-leave-comment form .form-group .form-control:focus::-ms-input-placeholder {
  color: transparent;
}

.theme-dark .blog-details-desc .article-leave-comment form .form-group .form-control:focus::placeholder {
  color: transparent;
}

.theme-dark .blog-details-desc .article-leave-comment form .comment-form-cookies-consent label {
  color: var(--white-color);
}

.theme-dark .widget-area .widget_search form .search-field {
  background-color: #0e0e0e;
  border: 1px solid #0e0e0e;
  color: var(--white-color);
}

.theme-dark .widget-area .widget_search form .search-field::-webkit-input-placeholder {
  color: var(--white-color);
}

.theme-dark .widget-area .widget_search form .search-field:-ms-input-placeholder {
  color: var(--white-color);
}

.theme-dark .widget-area .widget_search form .search-field::-ms-input-placeholder {
  color: var(--white-color);
}

.theme-dark .widget-area .widget_search form .search-field::placeholder {
  color: var(--white-color);
}

.theme-dark .widget-area .widget_search form .search-field:focus {
  border-color: var(--main-color);
}

.theme-dark .widget-area .widget_search form .search-field:focus::-webkit-input-placeholder {
  color: transparent;
}

.theme-dark .widget-area .widget_search form .search-field:focus:-ms-input-placeholder {
  color: transparent;
}

.theme-dark .widget-area .widget_search form .search-field:focus::-ms-input-placeholder {
  color: transparent;
}

.theme-dark .widget-area .widget_search form .search-field:focus::placeholder {
  color: transparent;
}

.theme-dark .widget-area .widget_search form button {
  color: var(--main-color);
}

.theme-dark .widget-area .widget_categories .categories-list li a {
  color: var(--white-color);
}

.theme-dark .widget-area .widget_categories .categories-list li a:hover {
  color: var(--main-color);
}

.theme-dark .widget-area .widget_augu_posts_thumb .item .info span {
  color: var(--white-color);
}

.theme-dark .widget-area .tagcloud a {
  color: var(--white-color);
  border: 1px solid #0e0e0e;
}

.theme-dark .widget-area .tagcloud a:hover, .theme-dark .widget-area .tagcloud a:focus {
  color: var(--white-color);
  background-color: var(--main-color);
  border: 1px solid var(--main-color);
}

@media only screen and (max-width: 767px) {
  .theme-dark .navbar-area {
    background-color: var(--black-color);
  }
  .theme-dark .main-responsive-nav .mean-container a.meanmenu-reveal {
    color: var(--white-color);
  }
  .theme-dark .main-responsive-nav .mean-container a.meanmenu-reveal span {
    background: var(--white-color);
  }
  .theme-dark .others-option-for-responsive .dot-menu .inner .circle {
    background-color: var(--white-color);
  }
}

@media only screen and (min-width: 768px) and (max-width: 991px) {
  .theme-dark .navbar-area {
    background-color: var(--black-color);
  }
  .theme-dark .main-responsive-nav .mean-container a.meanmenu-reveal {
    color: var(--white-color);
  }
  .theme-dark .main-responsive-nav .mean-container a.meanmenu-reveal span {
    background: var(--white-color);
  }
  .theme-dark .others-option-for-responsive .dot-menu .inner .circle {
    background-color: var(--white-color);
  }
}

@media only screen and (min-width: 992px) and (max-width: 1199px) {
  .theme-dark .navbar-area {
    background-color: var(--black-color);
  }
  .theme-dark .main-responsive-nav .mean-container a.meanmenu-reveal {
    color: var(--white-color);
  }
  .theme-dark .main-responsive-nav .mean-container a.meanmenu-reveal span {
    background: var(--white-color);
  }
  .theme-dark .others-option-for-responsive .dot-menu .inner .circle {
    background-color: var(--white-color);
  }
}
/*# sourceMappingURL=dark.css.map */