.login-bg {
  position: unset;
}

.login-wrap-bg {
  position: relative;
}

.header-fixed {
  border-bottom: 1px solid #80808042;
}

.log-wrap .google-bg {
  margin-top: unset;
}

/*
.footer {
  display: none;
}
*/

.login-wrapper {
  height: unset !important;
}

  .login-wrapper .loginbox {
    padding-top: 100px;
  }

.login-bg {
  min-height: 80vh;
}

.footer-bottom .copyright {
  padding: 20px 0;
}

.footer-bottom .copyright-text p {
  text-align: center;
}

.disclaimer-txt {
  font-size: 12px;
  color: #797979a8;
}

/* 
 Laptops,Desktop monitors,ipad pros
*/
@media only screen and (min-width:320px) and (max-width:767px){
    .login-wrapper .loginbox {
        padding: 30px;
    }
    .login-wrapper .loginbox {
        padding: 30px;
    }


}
@media only screen and (min-width:768px) and (max-width:991px){
    .login-wrapper .loginbox {
        padding-top: 40px;
    }
    .log-wrap {
        padding: 0px 0px;
    }
}
@media (min-width: 1024px) and (max-width: 1280px) {
  .login-bg {
    min-height: 30vh;
  }
}

