.choose-search-blk .select2-container--default .select2-selection--single {
  border: 1px solid #cbcfd3;
}

.course-design .product {
  padding: unset;
  background: #eaeaea80;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}

.btn-primary {
  background-color: #392c7d;
  border: 1px solid #392c7d;
}

.btn-primary:hover {
  background-color: #e57e1b;
  border: 1px solid #e57e1b;
}

/*
.footer {
  display: none;
}
*/

.footer-bottom .copyright {
  padding: 20px 0;
}

.footer-bottom .copyright-text p {
  text-align: center;
}

@media (min-width: 320px) and (max-width: 480px) {
  .main-menu-wrapper {
    transform: translateX(-520px);
  }

  .bar-icon {
    display: inline-block;
    width: 17px;
  }
}

.main-nav li a {
  font-size: 15px;
}

.header-page,
.header-page .header-nav {
  height: 70px;
}

.header-navbar-rht {
  /* margin-top: 10px; */
}

.add-header-bg {
  padding-bottom: 70px;
}

.product-content h3 {
  font-size: 15px;
}

.page-content {
  background: #f7f7f7;
  padding: 30px 0 60px;
}
